<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @notification.sender_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @notification.recipient_id %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @notification.shift_id %>
</p>

<p>
  <strong>Shift type:</strong>
  <%= @notification.shift_type %>
</p>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
